* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: rgb(211, 205, 205);
}

header {
  background: #2f3337;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 8%;
}

.logo {
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: #ddd;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: white;
}

.contact {
  max-width: 600px;
  margin: 60px auto;
  background: #fff;
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.contact h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.contact p {
  margin-bottom: 20px;
}

.contact-info {
  margin-bottom: 25px;
}

.contact-info a {
  color: rgb(78, 86, 11);
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.contact-form button {
  background-color: rgb(53, 49, 49);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background-color: black;
}

@media (max-width: 600px) {

  .navbar {
    flex-direction:column;
    gap: 10px;
  }

  .nav-links {
    flex-direction: row;
    align-items: center;
  }

  .contact {
    margin: 20px;
    padding: 25px;
  }

  .contact h2 {
    font-size: 22px;
  }
}