* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  background-color: rgb(57, 52, 52);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
}

.logo {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: rgb(201, 195, 195);
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.nav-links a:hover {
  color: white;
  transform: scale(1.05);
}

.hero {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  height: 85vh;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 50%;
  right: 8%;
  transform: translateY(-50%); /*  moves verticaly , do not affect other element*/
  text-align: right;
  color: black;
}

.hero-text h1 {
  font-size: 36px;
  font-weight: bold;
}

.hero-text h2 {
  font-weight: 300;
}

.hero-text button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: rgb(57, 52, 52);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.hero-text button:hover {
  background-color: black;
}

@media (max-width: 992px) {
  .hero-text {
    right: 5%;
  }

  .hero-text h1 {
    font-size: 32px;
  }
}

@media (max-width: 600px) {

  .navbar {
    flex-direction: column;
    gap: 10px;
  }

  .nav-links {
    flex-direction:row;
    align-items: center;
    gap: 10px;
  }

  .hero-img {
    height: 90vh; /* relative to height of browser */
  }

  .hero-text {
    top: 25%;
    right: 50%;
    transform: translate(50%, -50%);
    text-align: center;
  }

  .hero-text h1 {
    font-size: 26px;
  }

  .hero-text h2 {
    font-size: 16px;
  }

  .hero-text button {
    width: 160px;
  }
}